<nav class="navbar">
    <ul class="navbar-item">
        <li><a href="/">Bestpoints</a></li>
        <li><a href="/places">Places</a></li>
        <li><a href="/places/create">Add Places</a></li>
    </ul>
</nav>